.env
out/
venv/
.idea
protagonist.xlsx
story_plot.xlsx
image_description_updated.xlsx
tetx.txt
story.sql
protagonist_with_detailed_image_description_v3.xlsx
protagonist_with_detailed_image_description_v4.xlsx
protagonist_with_revised_image_description_v8.xlsx